mixin modifier-table(modifiers)
  table
    tbody
      each mod in modifiers
        tr
          td: code= mod
          td: block

html
  head
    title Barebones
    link(rel="stylesheet", href="barebones.css")
    link(rel="stylesheet", href="demo.css")
  body
    .demo-title
      h1 barebones
      h4 a nearly naked CSS framework
    ul.demo-links
      li: a(href="#typography") Typography
      li: a(href="#buttons") Buttons
      li: a(href="#button-groups") Button Groups
      li: a(href="#text-inputs") Text Inputs
      li |
      li: a(href="https://github.com/giladgray/barebones") GitHub
    h2#typography.section-title Typography
    section
      pre.
        &lt;h[1-6]>Text&lt;/h[1-6]>;
        &lt;p>Paragraph text&lt;/p>
      h1 Header 1
      h2 Header 2
      h3 Header 3
      h4 Header 4
      h5 Header 5
      h6 Header 6
      
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, tempore quia accusamus assumenda illo?
        
    h2#lists.section-title Lists
    section
      pre.
        &lt;[ul|ol] class="[cozy] [inline] [unstyled]">
          &lt;li>List item&lt;/li>
          ...
        &lt;/[ul|ol]>
      
      dl
        each mod in ['', 'cozy', 'inline', 'unstyled']
          dt: code= mod
          dd
            ul(class=mod)
              li Lorem ipsum.
              li Esse, ducimus?
              li Vero, doloremque.
  
    h2#buttons.section-title Buttons
    section
      pre &lt;button [disabled] "[large] [primary|secondary|danger|link]"&gt;Text&lt;/button&gt;
      
      dl
        each mod in ['', 'disabled', 'large', 'primary', 'secondary', 'danger', 'link']
          dt: code= mod
          dd: button(class=mod) Click me!
    
    h2#button-groups.section-title Button Groups
    section
      dl
        each mod in ['', 'vertical', 'block']
          dt: code= mod
          dd
            menu(class=mod)
              button One Fish
              button Two Fish
              button Red Fish
              button Blue Fish
      
    h2#text-inputs.section-title Text Inputs
    section
      dl
        each mod in ['', 'disabled', 'large', 'error']
          dt: code= mod
          dd
            input(class=mod, type="text", value="Words words words")
            input(class=mod, type="search", placeholder="Search...")
            textarea(class=mod) Text area
