mixin modifier-table(modifiers)
  table
    tbody
      each mod in modifiers
        tr
          td: code= mod
          td: block

html
  head
    title Barebones
    link(rel="stylesheet", href="barebones.css")
    link(rel="stylesheet", href="demo.css")
  body
    .demo-title
      a(class="github-link", href="https://github.com/giladgray/barebones", target="_blank") GitHub
      h1 barebones
      h4 a nearly naked CSS framework
    ul.demo-links
      
    h2#typography.section-title Typography
    section
      pre.
        &lt;h[1-6]>Text&lt;/h[1-6]>;
        &lt;p>Paragraph text&lt;/p>
      h1 Header 1
      h2 Header 2
      h3 Header 3
      h4 Header 4
      h5 Header 5
      h6 Header 6
      
      p 
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, tempore quia accusamus 
        a(href="#") assumenda illo?
        
    h2#lists.section-title Lists
    section
      pre.
        &lt;[ul|ol] class="[cozy] [inline] [unstyled]">
          &lt;li>List item&lt;/li>
          ...
        &lt;/[ul|ol]>
      
      dl
        each mod in ['', 'cozy', 'inline', 'unstyled']
          dt: code= mod
          dd
            ul(class=mod)
              li Lorem ipsum.
              li Esse, ducimus?
              li Vero, doloremque.
  
    h2#buttons.section-title Buttons
    section
      pre.
        &lt;button [disabled] "[primary|secondary|danger|link] [round] [large] [block]">Text&lt;/button>
        &lt;a [disabled] "button [primary|secondary|danger|link] [round] [large] [block]">Text&lt;/a>
      
      dl.horizontal
        each mod in ['', 'disabled', 'primary', 'secondary', 'danger', 'link', 'round', 'large', 'block']
          dt: code= mod
          dd
            button(class=mod, disabled=(mod === "disabled")) Click me!
            a(class={button: mod !== "link", }, class=mod disabled=(mod === "disabled")) Click me!
    
    h2#button-groups.section-title Button Groups
    section
      pre.
        &lt;menu class="[block] [vertical]"&gt;
          &lt;[button|a] ...>&lt;/[button|a]>
          ...
        &lt;/menu>
      dl
        each mod in ['', 'block', 'vertical']
          dt: code= mod
          dd
            menu(class=mod)
              button One Fish
              button Two Fish
              button Red Fish
              a(class="button") Link Fish
      
    h2#text-inputs.section-title Text Inputs
    section
      pre.
        &lt;input type="text" class="[large] [error]" [disabled]&gt;
        &lt;input type="search" class="[large] [error]" [disabled]&gt;
        &lt;textarea class="[large] [error]" [disabled]>&lt;/textarea>
      dl.vertical
        each mod in ['', 'disabled', 'large', 'error']
          dt: code= mod
          dd
            input(class=mod, type="text", value="Words words words", disabled=(mod === "disabled"))
            input(class=mod, type="search", placeholder="Search...", disabled=(mod === "disabled"))
            textarea(class=mod, disabled=(mod === "disabled")) Text area
  
    script(src="index.js")
